[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2018.9"
python-slugify = "==2.0.1"
pillow = "==9.3.0"
rcssmin = "==1.0.6"
argon2-cffi = "==19.2.0"
redis = "<3,>=2.10.6"
celery = "==4.2.1"
django-celery-beat = "==2.0.0"
uvicorn = "==0.11.5"
mysqlclient = "==1.4.2.post1"
django-environ = "==0.4.5"
django-model-utils = "==4.0.0"
django-allauth = "==0.38.0"
django-crispy-forms = "==1.7.2"
django-compressor = "==2.2"
django-redis = "==4.10.0"
ipdb = "==0.13.2"
psycopg2-binary = "==2.8.5"
watchgod = "==0.6"
mypy = "==0.770"
django-stubs = "==1.5.0"
pytest = "==5.4.1"
pytest-sugar = "==0.9.3"
flake8 = "==3.7.9"
flake8-isort = "==3.0.0"
coverage = "==5.1"
black = "==19.10b0"
pylint-django = "==2.0.15"
pylint-celery = "==0.3"
pre-commit = "==2.3.0"
factory-boy = "==2.12.0"
django-debug-toolbar = "==2.2"
django-extensions = "==2.2.9"
django-coverage-plugin = "==1.8.0"
pytest-django = "==3.9.0"
Django = "==2.2.0"
Werkzeug = "==1.0.1"
Sphinx = "==3.0.3"
sorl-thumbnail = "*"
django-taggit = "*"
django-markdownx = "*"

[requires]
python_version = "3.7"
